<demo-field [label]="i18n.t('form.movement.field.person')">
  <demo-select
    name="person"
    [(ngModel)]="model['person']"
    (ngModelChange)="onPersonChange($event)"
    [options]="personOptions()"
    [ariaLabel]="i18n.t('form.movement.field.person')"
  />
</demo-field>
@if (showLoanRole()) {
<demo-field [label]="i18n.t('form.movement.field.loanRole')">
  <demo-select
    name="loanRole"
    [(ngModel)]="model['loanRole']"
    [options]="loanRoleOptions()"
    [ariaLabel]="i18n.t('form.movement.field.loanRole')"
  />
</demo-field>
} @if (showLoanProduct()) {
<demo-field [label]="i18n.t('form.movement.field.loanProduct')">
  <demo-select
    name="loanProduct"
    [(ngModel)]="model['loanProduct']"
    [options]="loanProductOptions()"
    [ariaLabel]="i18n.t('form.movement.field.loanProduct')"
  />
</demo-field>
}
