<label class="field"
  >{{ i18n.t('form.movement.field.person') }}<demo-select
    name="person"
    [(ngModel)]="model['person']"
    [options]="personOptions()"
    [ariaLabel]="i18n.t('form.movement.field.person')"
/></label>
@if (showLoanRole()) {
<label class="field"
  >{{ i18n.t('form.movement.field.loanRole') }}<demo-select
    name="loanRole"
    [(ngModel)]="model['loanRole']"
    [options]="loanRoleOptions()"
    [ariaLabel]="i18n.t('form.movement.field.loanRole')"
/></label>
} @if (showLoanProduct()) {
<label class="field"
  >{{ i18n.t('form.movement.field.loanProduct') }}<demo-select
    name="loanProduct"
    [(ngModel)]="model['loanProduct']"
    [options]="loanProductOptions()"
    [ariaLabel]="i18n.t('form.movement.field.loanProduct')"
/></label>
}
