<fin-field [label]="i18n.t('form.movement.field.installmentTotal')">
  <input type="number" name="installmentTotal" min="1" [(ngModel)]="model['installmentTotal']" />
</fin-field>
@if (currentEditable) {
<fin-field [label]="i18n.t('form.movement.field.installmentCurrent')">
  <input type="number" name="installmentCurrent" min="1" [(ngModel)]="model['installmentCurrent']" />
</fin-field>
}
<fin-field [label]="i18n.t('form.movement.field.purchaseApr')">
  <input
    type="number"
    name="purchaseApr"
    min="0"
    step="0.1"
    [ngModel]="purchaseApr()"
    (ngModelChange)="onPurchaseAprChange($event)"
  />
</fin-field>
@if (isOverridden() && cardApr() !== undefined) { @let tasaTarjeta = cardApr()!;
<button type="button" class="text-reset" (click)="useCardApr()">
  {{ i18n.t('form.movement.purchaseApr.useCardDefault', { rate: tasaTarjeta }) }}
</button>
}
